$primary-font: 'Montserrat', sans-serif;
$secundary-font: 'Dancing Script', cursive;
$border: 1px solid rgb(230, 229, 229);
$color-text: rgb(77, 77, 77);
$back-color: white;
$hover: 23px;



.body {
    font-family: $primary-font;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    color: $color-text;
    border: $border;
    background-color: $back-color;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 400px auto 30px;
    grid-template-areas: 
        "header"
        "main"
        "footer";

@media screen and (min-width: 700px) {
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 400px auto 30px;
    grid-template-areas: 
        "header header header"
        "left main right"
        "footer footer footer";
    }
}
/*@media screen and ( min-width: 1000px ) {
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 400px auto 30px;
    grid-template-areas: 
        "header header header"
        "left main right"
        "footer footer footer";
}*/

.header {grid-area: header;}
.main {grid-area: main;}
.left {grid-area: left;}
.right {grid-area: right;}
.footer {grid-area: footer;}

.header {
    border: $border;
    height: 80%;
    width: auto;
    position: relative;
    /*background-image: url(/images/ai/skupinka1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;*/
}

header ::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: url(/images/ai/skupinka1.png);
    background-position: center;
    background-size: 100%;
    opacity: 0.05;
    z-index: -1;
}

h1 {
    color: red;
    font-family: $secundary-font;
    font-size: 100px;
    margin: 30px;
}

ul {
    display: inline;
}

li {
    display: inline;
    margin: 0;
    font-weight: 600;
    padding: 10px;  
}


a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: rgb(113, 39, 217);
}

.nadpis {
    color: red;
    font-family: $secundary-font;
}

.institut {
    color: rgb(252, 130, 207);
}

.institut:hover {
    color: rgb(254, 82, 191);
}

.hurka {
    color: rgb(155,81,224);
}

.hurka:hover {
    color: rgb(246, 98, 219);
}

.strong {
    font-weight: 600;
}

.foto-v {
    width: 200px;
    height: auto;
}

.foto-s {
    width: 300px;
    height: auto;
}

.fotogalerie {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
}

.pin {
    width: 200px;
}

.left,
.right {
    width: 200px;
}



.footer {
    font-family: $secundary-font;
    font-size: 20px;
    background-color: rgb(230, 229, 229);
    border: 1px solid $border;
   /* margin-top: 500px;*/
    
}