$primary-font: 'Montserrat', sans-serif;
$secundary-font: 'Dancing Script', cursive;
$border: 1px solid rgb(230, 229, 229);
$color-text: rgb(77, 77, 77);
$color-h: rgb(190, 3, 3);
$back-color: rgb(230, 229, 229);
$hover: 23px;



.body {
    font-family: $primary-font;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    color: $color-text;
   /* border: $border;*/
    background-color: white;
 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px auto auto 30px;
    grid-template-areas: 
        "header header"
        "main main"
        "left right"
        "footer footer";
}
    
  /* .left,
    .right {
        display: none;
    }*/

    @media screen and (min-width: 700px) {
        .body {
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 300px auto 30px;
        grid-template-areas: 
            "header header header"
            "left main right"
            "footer footer footer";

        
        }
    }


    /*@media screen and ( min-width: 1000px ) {
        grid-template-columns: 300px auto 300px;
        grid-template-rows: 400px auto 30px;
        grid-template-areas: 
            "header header header"
            "left main right"
            "footer footer footer";
    }*/

.header {grid-area: header;}
.main {grid-area: main;}
.left {grid-area: left;}
.right {grid-area: right;}
.footer {grid-area: footer;}



.header {
    border: $border;
    height: 100%;
    width: auto;
    position: relative;
    /*background-image: url(/images/ai/skupinka1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;*/
}

header ::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: url(/images/ai/skupinka_1.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(230, 229, 229);
    opacity: 0.03;
    z-index: -1;
}

h1 {
    color: $color-h;
    font-family: $secundary-font;
    font-size: 100px;
    margin: 30px;
}

ul {
    display: inline;
}

li {
    display: inline;
    margin: 0;
    font-weight: 600;
    padding: 10px;  
}


a {
    text-decoration: none;
    color: $color-h;
}

a:hover {
    color: red;
    /*rgb(113, 39, 217);*/
}

.main {
    margin-left: 20px;
    margin-right: 20px;
}


 /* @media screen and (min-width: 700px) {
    .uvod {
    display: grid;
    grid-template-columns: 200px auto 200px;
        grid-template-rows: auto 30px;
        grid-template-areas: 
            "left text right"
            "footer footer footer";
    }
    }

.text {grid-area: text;}
.left {grid-area: left;}
.right {grid-area: right;}
.footer {grid-area: footer;}

*/



.nadpis {
    color: $color-h;
    font-family: $secundary-font;
}

.institut {
    color: rgb(252, 130, 207);
}

.institut:hover {
    color: rgb(254, 82, 191);
}

.hurka {
    color: rgb(155,81,224);
}

.hurka:hover {
    color: rgb(246, 98, 219);
}

.strong {
    font-weight: 600;
}

.foto-v {
    width: 200px;
    height: auto;
}

.foto-s {
    width: 300px;
    height: auto;
}

/*.foto-s:active {
    width: 600px;
    height: auto;
}*/

.fotogalerie {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
}

.pin {
    width: 200px;
    padding-bottom: 250px;
}

.pinn {
    width: 200px;
}

.left,
.right {
    width: 200px;
    height: auto;
    padding-top: 250px;
}

.heslo {
    color: $color-h;
    font-weight: 600;
}

.footer {
    font-family: $secundary-font;
    font-size: 20px;
    height: 30px;
    background-color: $back-color;
    border: $border;
    margin-top: 30px;
}