<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

</head>

<body class="body">
    <header class="header">
        <h1>Bellyssimy</h1>
        <ul class="menu__list">
            <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
            <li class="menu__item"><a href="/O_nas/" class="menu__link">O nás</a></li>
            <li class="menu__item"><a href="/O_tanci/" class="menu__link">O tanci</a></li>
            <li class="menu__item"><a href="/Galerie/" class="menu__link">Galerie</a></li>
        </ul>
    </header>

    <div class="main">

        {{content | safe}}

    </div>

  
    <div class="left">
        <img class="pin" src="/images/ai/tanecnice_3.png" alt="Tanečnice">
        <img class="pin" src="/images/ai/tanecnice_6.png" alt="Tanečnice">
        <img class="pin" src="/images/ai/tanecnice_9.png" alt="Tanečnice">
    </div>

    <div class="right">
        <img class="pin" src="/images/ai/tanecnice_2.png" alt="Tanečnice">
        <img class="pin" src="/images/ai/tanecnice_5.png" alt="Tanečnice">
        <img class="pin" src="/images/ai/tanecnice_10.png" alt="Tanečnice">
    </div>


    <footer class="footer">
        © Lucie Hocková
    </footer>

</body>
</html>